body.md-default-theme, body, html.md-default-theme, html{
    background: transparent;
}
/* LOGIN PAGE */
.loginBanner{
    border: solid #3f50b5 5px;
    padding: 50px 50px;
    width: 590px;
    color: #3f50b5;
    margin: 0px auto;
    height: 350px;
    position: relative;
    right: 260px;
    top: 60px;
}

.loginBanner h1{
    text-align: right;
    font-size: 300%;
    margin: 0;
}

.loginBanner h2{
    text-align: right;
    font-size: 1100%;
    margin: 0;
    font-weight: 500;
}

.loginForm{
    border: solid #e93e40 5px;
    width: 590px;
    padding: 20px;
    color: #e93e40;
    margin: 0 auto;
    height: 364px;
    text-align: center;
    position: relative;
    left: 260px;
}

.loginForm h3{
    font-size: 350%;
}

.loginForm md-input-container{
    width: 80%;
    text-align: left;
}

.loginForm .right{
    position: relative;
    left: 170px;
    bottom: 10px;
}

@media screen and (max-width: 1120px){
    .loginForm{
        position: static;
    }

    .loginBanner{
        margin-top: 50px;
        position: static;
        height: 270px;
    }

    .loginBanner h2{
        font-size: 700%;
    }

}

@media screen and (max-width: 620px){
    .loginForm{
        width:100%;
        text-align: center;
    }

    .loginBanner{
        width: 100%;
        padding: 10px;
        height: 170px;
    }

    .loginForm .right{
        position: static;
    }

    .loginBanner h2{
        font-size: 500%;
    }
}
/* END LOGIN PAGE */
/* NAVBAR */
.brandImg{
    height: 25px;
    margin: 0 5px;
    float: left;
}

.navbar-brand h1{
    float: right;
    font-size: 110%;
    font-weight: 600;
    margin: 0 5px;
}

.navbar-custom{
    border-bottom: solid #333 1px;
    border-radius: 0;
}

.navActive{
    color: #e93e40;
}

.icon-bar{
    color: #000;
    background-color: #000;
}
/* END NAVBAR */
/* HOME */
.capture{
    border: solid #3f50b5 5px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: #3f50b5;
}

.capture:hover{
    box-shadow: 3px 5px #d8d8d8;
}

.capture h2{
    font-size: 400%;
}

.search{
    border: solid #e93e40 5px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: #e93e40;
}

.search:hover{
    box-shadow: 3px 5px #d8d8d8;
}

.search h2{
    font-size: 400%;
}

.pageWrapper{
    padding-top: 50px;
}

@media screen and (max-width: 392px){

    .search h2{
        font-size: 200%;
    }

    .search h3{
        font-size: 90%;
    }

    .capture h2{
        font-size: 200%;
    }

    .capture h3{
        font-size: 90%;
    }
    
}
/* END HOME */
/* CAPTURE */
.captureHeading{
    text-align: center;
    text-decoration: underline;
    margin: 50px;
}

md-input-container{
    width:100%;
}

.inline{
    display: inline-block;
    margin: 0 50px;
}

.genderGroup{
    margin: 0 auto;
    text-align: center;
}

.captureDate{
    margin-top: 33px;
    margin-bottom: 0;
}

.captureSubheading hr{
    border: none;
    height: 2px;
    color: #333;
    background: #333;
}

thead{
    background: #333;
    color: #fff;
}

tbody:nth-child(even){
    background: #cdd4ea;
}

tbody tr:nth-child(odd){
    background: #e8ecf5;
}

.center{
    text-align: center;
}

.tableRemove{
    font-size: 150%;
    color: #e93e40;
}

.submitBtn{
    margin: 0;
    margin-bottom: 50px;
    float: right;
}

.rowSpace td{
    border: solid #333;
    border-width: 3px 0;
    box-sizing: border-box;
}

.innerRow{
    height: 25px;
}

.innerRowSearch{
    height: 50px;
}

.navRowOdd:nth-of-type(even){
    background: #cdd4ea;
}

.navRowOdd:nth-of-type(odd){
    background: #e8ecf5;
}

.navRowEven:nth-of-type(odd){
    background: #e8ecf5;
}

.navRowEven:nth-of-type(even){
    background: #cdd4ea;
}

/* .innerRow:nth-of-type(even){
    background: #cdd4ea;
}

.innerRow:nth-of-type(odd){
    background: #e8ecf5;
} */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 0;
}
/* END CAPTURE */
/* SEARCH */
.searchBtnGroup > *{
    margin: 0 -3px;
}

.searchBtnGroupTable > *{
    display: inline-block;
    margin: 0 -3px;
}

.innerRowTable{
    height: 38px;
}

.searchBtn{
    margin-bottom: 50px;
    position: relative;
    left: 30px;
}

.excelImg{
    margin: 10px;
}

.searchRefineBtn{
    position: relative;
    right: 143px;
}
/* END SEARCH */
/* ADMIN */
.backBtn{
    position: relative;
    left: 38px;
}

.usrBtn{
    padding: 0;
    margin: 0;
    width: 22.5px;
    background: transparent;
    border: 0;
}

.usrBtn:disabled{
    color: darkgray;
}
/* END ADMIN */
/* RESULTS */
.results h4{
    font-size: 180%;
    font-weight: 700;
}

.results h5{
    color: #3f50b5;
    font-size: 120%;
    font-weight: 700;
}

.resultsBtnGroup{
    float: right;
}

.resultsBtn{
    margin-right: 0;
}

.floatRight{
    float: right;
    margin: 0;
}

.marginBottom{
    margin-bottom: 50px;
}
/* END RESULTS */
/* LOADER */
md-progress-circular{
    left: 50%;
}
/* END LOADER */
/* MESSAGES */
.msg{
    text-align: center;
    color: #2ec600;
}
/* END MESSAGES */
/* GENDER */
.genderGroup > *{
    display: inline-block;
    margin: -3px;
    box-sizing: border-box;
}

.backSearchBtn{
    margin: 0px;
    margin-right: 10px;
    float: right;
}
/* END GENDER */